---
include-pypi-link: true
launchpad: oslo.config
release-model: cycle-with-intermediary
team: oslo
type: library
repository-settings:
  openstack/oslo.config: {}
releases:
  - version: 8.8.0
    projects:
      - repo: openstack/oslo.config
        hash: 64c82a0829c6c5356ed2a44f14c1ea675aa493b7
branches:
  - name: stable/yoga
    location: 8.8.0
