pbr>=1.6

# NOTE(dhellmann): We pin keyring because new releases tend to add
# dependencies for GUI tools that we don't use
keyring==7.3

requests>=2.5.2
PyYAML>=3.1.0
zuul
yamlordereddictloader
prompt_toolkit
tqdm
packaging>=15.2
mwclient==0.8.1
