pbr>=1.6

# NOTE(dhellmann): We pin keyring because new releases tend to add
# dependencies for GUI tools that we don't use
keyring==7.3

requests>=2.5.2
PyYAML>=3.1.0
zuul
yamlordereddictloader
prompt_toolkit
tqdm
packaging>=15.2
mwclient==0.8.1
jsonschema>=2.6.0

# For release notes generation.
Jinja2>=2.6  # BSD License (3 clause)
parawrap
reno>=2.0.0
sphinx>=1.6.2  # BSD
