######################################################################
#                                                                    #
#                          ** IMPORTANT **                           #
#                                                                    #
# THIS FILE IS ONLY USED BY TOX IN THE CHECK AND GATE JOBS. YOU MUST #
# UPDATE bindep.txt TO INCLUDE ADDITIONAL PACKAGES NEEDED IN THE     #
# POST-MERGE # JOBS SUCH AS "tag-releases".                          #
#                                                                    #
######################################################################

pbr>=1.6
keyring>=7.3
requests>=2.5.2
PyYAML>=3.1.0
yamlordereddictloader
prompt_toolkit>=2.0.7
tqdm
mwclient==0.8.1
jsonschema>=3.2.0
twine>=1.13.0
wheel>=0.34.2
ruamel.yaml>=0.15
tenacity>=6.1.0

# For release notes generation.
Jinja2>=2.6  # BSD License (3 clause)
parawrap
reno>=3.2.0
sphinx>=1.6.2  # BSD

pyfiglet>=0.7.5

appdirs
packaging>=16.5

openstack-governance>=0.7.0  # Apache 2.0
